*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board{
  width: 80%;
  height: 500px;
  border: 1px solid rgb(91, 0, 177);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.garlic {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: garlic-animation 2s infinite linear;
}

.marci-run {
  width: 120px;
  position: absolute;
  bottom: 0;
}

@keyframes garlic-animation {
  from{
    right: -80px;
  }

  to{
    right: 100%;
  }
}