<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Marceline Axe Bass</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about">Sobre</a>
        </li>
        {{#if session.userId}}
          <li class="nav-item">
            <a class="nav-link" href="/">Jogar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ranking">Ranking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sair ({{session.fullname}})</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Criar Conta</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
    <div class="container">
      {{{body}}}
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
